
/**************************
*My account Menu and page
***************************/
.profile {
 padding-top: 0px;
}
.mt-5 {
  margin-top: 5px !important;
}
/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 0px 0;
  background: #fff;
display: block;
-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
color: #555;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-ms-border-radius:0px;
border-radius: 0px;
min-height: 420px;
/*overflow: auto;*/
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #4f585f;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
}


.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu .nav {
	display: block;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
  display:block;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile .btn-sm, .btn-group-sm > .btn, body:not(.touch) .btn-sm:focus, body:not(.touch) .btn-group-sm > .btn:focus {
    padding: 12px 10px;
    font-size: 12px;
    line-height: 6px;
}

.badge-success {
	background: #4CAF50;
    color: white;
}

.badge-info {
		background: #207dc8;
    color: #fff;
}
.badge-warning {
	background: #FF9800;
    color: white;
}
.badge-danger {
	background: #F44336;
    color: white;
}
.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
  display: block;
  padding: 11px;
  
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a,
.profile-usermenu ul li:hover a {
    background-color: #ecf7ff;
    border-left: 2px solid #1c72af;
    margin-left: -2px;
    color: #1c72af;
}


/*Modal Scroll*/
.modal-scroll .modal-dialog {
	max-width: 490px;
	    min-height: calc(100vh - 70px);
}
.modal-scroll .modal-header {
  border-bottom: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: #1e76bd;
  padding: 10px;
  box-shadow: 0px 4px 10px 0px rgba(46, 45, 45, 0.23);
	-webkit-box-shadow: 0px 4px 10px 0px rgba(46, 45, 45, 0.23);
		-moz-box-shadow: 0px 4px 10px 0px rgba(46, 45, 45, 0.23);
}

.modal-scroll .modal-header .close {
  padding: 1rem;
  margin: -0.6rem -0.6rem -0.7rem 0px;
  position: absolute;
  right: 10px;
  color: white;
  font-weight: 200;
  opacity: 0.75;
}

.modal-scroll .modal-footer {
  box-shadow: 0px -2px 13px 0px rgba(46, 45, 45, 0.25098039215686274);
    border-top: 0;
}

.modal-scroll .modal-header h4 {
  color: #fff;
  margin: auto;
  font-size: 23px;
  font-weight: 300;
}

.modal-scroll .modal-body {
      overflow-x: hidden;
    overflow-y: auto;
	max-height: 66.5vh;
	padding: 10px;
}

.ext-help {
	font-size: 14px;
	line-height: 14px;
}

.modal-scroll .modal-footer {
  display: block;
}

.modal-scroll .modal-footer .pull-left {
  float: left;
}
.modal-scroll .modal-footer .pull-right {
  float: right;
}

.modal-scroll .modal-footer .action-btn,
.modal-scroll .modal-footer .not-action-btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
}

.modal-scroll .modal-content {
  border: 0;
  border-radius: 2px;
  outline: 0;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.07);
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.07);
}

.modal-scroll hr {
	margin: 0px 0px 5px;
}

.imp-small {
	color: #3f4079;
}



/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 420px;
	display: block;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
	color: #555;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
	overflow: hidden;
}

.dashboard-stat, .portlet {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}
.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
}
.portlet.bordered {
    border-left: 2px solid #e6e9ec!important;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
}
.list-separated {
    margin-top: 10px;
    margin-bottom: 15px;
}
.profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7;
}
.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center;
}
.uppercase {
    text-transform: uppercase!important;
}

.profile-stat-text {
    color: #5b9bd1;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}
.profile-desc-title {
    color: #7f90a4;
    font-size: 17px;
    font-weight: 600;
}
.profile-desc-text {
    color: #7e8c9e;
    font-size: 14px;
}
.margin-top-20 {
    margin-top: 20px!important;
}
[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}
.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px;
}

.profile-userbuttons .btn-outline-red,
.not-action-btn {
  background: #fff;
  border: 2px solid #1e76bd;
  color: #1e76bd;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.profile-userbuttons .btn-outline-red:hover,
.not-action-btn:hover {
  background: #1e76bd;
  color: #fff;
}

.profile-userbuttons .btn-logout,
.action-btn {
	background: #1e76bd;
    color: #fff;
    border: 2px solid #1e76bd;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.profile-userbuttons .btn-logout:hover,
.action-btn:hover {
  background: #fff;
  color: #1e76bd;
}

.push-right {
  float: right;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

#login-2 {
  margin: 0px auto;
}

.clearfix {
  clear: both;
}

.reg-text-wrap {
  margin-top:13vh;
}


/*
  Mass Link on user dashboard
*/

.mass-link .card {
    color: #626d75;
    text-transform: inherit;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
    background: rgb(245, 248, 250);
    border-radius: 2px;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 2px solid rgb(158, 173, 183);
	margin-bottom: 5px;
}
.mass-link .card:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .07);
  background: #fff;
}
.mass-link .card-body {
    padding: 1rem  .5rem;
    text-align: left;
}
.mass-link .card-body h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: inherit;
    vertical-align: middle;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.mass-link .card-body i {
    font-size: 35px;
    color: #9eadb7;
    vertical-align: inherit;
}

.mass-link hr {
  margin: 20px 0 20px;
}

.list_home ul li a:hover {
    background-color: #F44336;
}


/*
  Appointment Customize
*/
.appointmentDoctorDiv {
  display: none;
}

.modal-scroll .custom-control-label {
}

.modal-scroll .form-control,
.modal-scroll .custom-select {
  border-color: #81929e;
}




/*Responsive Table*/
.responsive-tbl table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
}

.responsive-tbl table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.responsive-tbl table tr {
  background-color: #f5f8fa;
  border: 1px solid #ddd;
  padding: .35em;
}

.responsive-tbl table th,
.responsive-tbl table td {
  padding: .625em;
  text-align: center;
}

.responsive-tbl table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .responsive-tbl table {
    border: 0;
  }

  .responsive-tbl table caption {
    font-size: 1.3em;
  }
  
  .responsive-tbl table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .responsive-tbl table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .responsive-tbl table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .responsive-tbl table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .responsive-tbl table td:last-child {
    border-bottom: 0;
  }
}


.permission-active {
  margin-bottom: 15px;
}


.chips {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 400;
  background: none;
  color: #616169;
  border: 2px solid #607D8B;
}

.chips:hover {
  background-color: transparent !important;
  border-color: #607D8B;
  color: #616169;
}

.chips .badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 17px;
  font-weight: 400;
  color: #616169;
  line-height: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: .25rem;
}

.dashboard {
	margin-top: 0px !important;
    padding-top: 40px;
    background: #f5f8fa;
    padding-bottom: 40px;
    border-bottom: 3px solid #f1f1f1;
}

.login-reg {
	padding: 20px;
    background: #fff;
    display: block;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
}